@import "tailwindcss";

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: revert !important;
  font-weight: revert !important;
}
.languageSelects {
  padding: 5px 10px;
  cursor: pointer;
}
.languageSelects.active {
  background-color: #1677ff;
  color: white;
  border-radius: 6px;
}
.rn-shadow {
  border-radius: 6px !important;
  box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px,
    rgba(145, 158, 171, 0.12) 0px 0px 2px 0px !important;
  padding: 10px !important;
}
.rn-title {
  font-size: 14px;
  font-weight: 600 !important;
  text-transform: uppercase;
  color: var(--title-color)
}
.rn-description {
  font-size: 14px;
  font-weight: 500;
  color: var(--description-color);
}