@import "tailwindcss";

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.languageSelects {
  padding: 5px 10px;
  cursor: pointer;
}

.languageSelects.active {
  background-color: #1677ff;
  color: white;
  border-radius: 6px;
}
